<div class="columns">
  <div class="column">
    <button class="button is-success">New Lesson</button>
  </div>
</div>
<div class="columns" *ngFor="let lesson of lessons">
  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{lesson.name}}
        </p>
        <a class="card-header-icon">
        <span class="icon">
          <i class="fa fa-angle-down"></i>
        </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
          {{lesson.description}}
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item">Add item</a>
        <a class="card-footer-item">Edit</a>
        <a class="card-footer-item">Delete</a>
      </footer>
    </div>
  </div>
</div>
<app-lesson-item></app-lesson-item>

