
.navbar {
  background: #0e629e;
  a {
    color: aliceblue;
    &:hover {
      color: #0e629e;
      background: #fff;
    }
    &.is-active {
      background: #eee;
      color: #0e629e;
    }
  }
}
