<nav class="navbar">
  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
          <img src="./assets/de-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </a>
      </div>
      <a class="nav-item" routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="nav-item">Lesson</a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/lesson/add" routerLinkActive="is-active">
            Add new Lesson
          </a>
          <a class="navbar-item" routerLink="/lesson" routerLinkActive="is-active">
            Lesson
          </a>
          <hr class="navbar-divider">
          <div class="navbar-item">
            Lesson section
          </div>
        </div>
      </div>

      <a class="nav-item" routerLink="/course" routerLinkActive="is-active">Course</a>
      <a class="nav-item" routerLink="/profile" routerLinkActive="is-active">Profile</a>
    </div>

    <div class="navbar-end">
      <!-- navbar items -->
      <a class="nav-item" routerLink="/login" routerLinkActive="is-active">
        <span>Login</span>
        <span class="icon is-small">
            <i class="fa fa-user"></i>
          </span>
      </a>
    </div>
  </div>

  <div class="navbar-burger">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
