<div class="columns">
  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Lesson name
        </p>
        <a class="card-header-icon">
        <span class="icon">
          <i class="fa fa-angle-down"></i>
        </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto debitis saepe tempora! Aliquid assumenda eius eum facilis, itaque iure laudantium magni neque, odit provident quidem rem repudiandae sapiente sit, voluptate.
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item">Add item</a>
        <a class="card-footer-item">Edit</a>
        <a class="card-footer-item">Delete</a>
      </footer>
    </div>
  </div>
</div>
