<div class="columns">
  <div class="column">
    <form (ngSubmit)="addLesson(f)" #f="ngForm">
      <label for="name">Name</label>
      <input
        class="input"
        id="name"
        name="name"
        type="text"
        ngModel
      >
      <label for="description">Description</label>
      <input
        class="input"
        id="description"
        name="description"
        type="text"
        ngModel
      >
      <button class="button" type="submit">Submit</button>
    </form>
  </div>
</div>
