<div class="columns">
  <div class="column">
    <form (ngSubmit)="addLesson(f)" #f="ngForm">
      <div class="field">
        <label for="name">Name</label>
        <p class="control">
          <input
            class="input"
            id="name"
            name="name"
            type="text"
            ngModel
            required
          >
        </p>
      </div>
      <div class="field">
        <label for="description">Description</label>
        <p class="control">
          <input
            class="input"
            id="description"
            name="description"
            type="text"
            ngModel
            required
          >
        </p>
      </div>
      <p class="control">
        <button [disabled]="!f.valid" class="button is-large" type="submit">
          <span>Submit</span>
          <span class="icon">
            <i class="fa fa-send"></i>
          </span>
        </button>
      </p>
    </form>
  </div>
</div>
