<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              {{thisLesson.name}}
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              {{thisLesson.description}}
            </div>
          </div>
          <div class="card-content">
            <div class="content">
              <app-search></app-search>
            </div>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item">Add item</a>
            <a class="card-footer-item">Edit</a>
            <a class="card-footer-item">Delete</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
