<section class="hero is-info is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Discovery lessons
      </h1>
      <h2 class="subtitle">
        Course builder
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <button class="button is-large is-primary" (click)="goLessons()">
          <span>Lessons</span>
          <span class="icon">
            <i class="fa fa-check"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
